@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    margin: 5px auto;
    background-color: rgb(190, 120, 120);
    color: rgb(50, 50, 50);
    font-family: 'Quicksand', sans-serif;
}

h3 {
    margin: 20px auto;
    text-align: center;
    font-size: 14pt;
}

fieldset {
    width: 60%;
    margin: 20px auto;
    background-color: rgb(230, 230, 240);
    border-radius: 5px;
}

legend {
    text-align: center;
    padding-top: 150px;
    font-size: 2.2em;
}





.container {
    width: 50%;
    text-align: center;
}

label {
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

input {
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 240);
}

.submit {
  /* creates proper spacing for submit button  */
  text-align: center;
  padding: 12px 40px;
  margin: 10px 20px;
  width: 200px;
  color: rgb(240, 240, 250);
  background-color: rgb(190, 150, 150);
}

.fn, .ln, .pn, .email {
    width: 55%;
}

.agreement {
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 400px) {
    fieldset {
        width: 90%;
        margin: 20px auto;
    }

    label {
        margin: 8px 15px;
        font-size: 1.2em;
    }
    
    input {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 850px) {
    .fn, .ln, .pn, .email {
        width: 40%;
    }
}
