body {
    margin: 5px auto;
    background-color: rgb(190, 120, 120);
    color: rgb(50, 50, 50);
}

fieldset {
    width: 70%;
    margin: 20px auto;
    background-color: rgb(230, 230, 240);
    border-radius: 5px;
}

legend {
    text-align: center;
    padding-top: 150px;
    font-size: 20pt;
}

label {
    margin: 10px 20px;
    font-size: 14pt;
}

input {
    margin: 10px 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(230, 230, 240);
    width: 55%;
}

.submit {
  /* creates proper spacing for submit button  */
  text-align: center;
  padding: 12px 40px;
  margin: 20px auto;
  width: 200px;
  color: rgb(240, 240, 250);
  background-color: rgb(190, 150, 150);
}

.tc {
    margin-left: 0;
    padding-left: 0;
}
    

@media only screen and (max-width: 400) {
    body {
        width: 70%;
        font-size: 20pt;
    }
    
    fieldset {
        width: 90%;
        margin: 20px auto;
    }
    
    label {
        margin: 8px 15px;
        font-size: 12pt;
    }
    
    input {
        font-size: 12pt;
    }
    
    
}
